@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}
:root {
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey700: hsl(0, 0%, 20%);
  --Grey800: hsl(0, 0%, 12%);
  --Grey900: hsl(0, 0%, 8%);
}
html {
  font-size: 14px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  color: var(--White);
  background-color: var(--Grey900);
  font-family: "Inter", sans-serif;
}
.wrapper {
  text-align: center;
  width: 28rem;
  max-width: 90%;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--Grey800);
}
.avatar {
  margin: 0 auto 1rem;
  width: 5rem;
  aspect-ratio: 1/1;
  overflow: hidden;
  border-radius: 50%;
}
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.info {
  text-align: center;
  line-height: 1.5;
  margin: 1rem 0;
}
.info .location {
  color: var(--Green);
  font-size: 0.8rem;
}
.title {
  margin: 1.5rem 0;
}
.links li {
  list-style: none;
}
.links li a {
  display: block;
  margin: 1rem 0;
  border-radius: 0.5rem;
  padding: 0.8rem;
  text-decoration: none;
  color: var(--White);
  background-color: var(--Grey700);
  transition: all 0.3s ease-out;
}
.links li:hover a {
  color: var(--Grey900);
  background-color: var(--Green);
}
